* {
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    background-color: tan;
    font-family: 'Odibee Sans', cursive;
}

.title1 {
    color: orangered;
    font-size: 2.4rem;
    animation: fadeIn 3s;
}

.title2 {
    color: green;
    font-size: 2.4rem;
    animation: fadeIn 3s;
}

#startContainer {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startGame {
    font-size: 20px;
    border-radius: 10px;
}

#startGame:hover {
    cursor: pointer;
    background-color: black;
    color: burlywood;
    box-shadow: 2px 2px gray;
}

.container {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2rem;
    animation: grow-and-shrink 2s
}

#score {
    color: green;
}

#time-left {
    color: red;
}

p span {
    color: lemonChiffon;
}

button {
    padding: 0 50px;
    background-color: lemonChiffon;
    font-size: 1.5rem;
    animation: grow-and-shrink 1s;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: burlywood;
    box-shadow: 2px 2px gray;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    animation: fadeIn 2s;
}

.square {
    height: 280px;
    width: 265px;
    border: solid 1px black;
    background-color: wheat;
}

.mole {
    background-image: url('mole.jpg');
    background-size: contain;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: purple;
    text-decoration: underline;
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { opacity: 1; 
    }
}

@keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
}

@media (min-width: 2000px) {
    .grid {
        margin: auto 500px;
    }
    .square {
        height: 280px;
        width: 265px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .grid {
        margin: auto 200px;
    }
}

@media (max-width: 1020px) {
    .square {
        height: 170px;
        width: 160px;
    }
}

@media (max-width: 720px) {
    .square {
        height: 95px;
        width: 90px;
    }
}

@media (max-width: 420px) {
    h2 {
        font-size: 1.1rem;
    }
    .square {
        height: 80px;
        width: 75px;
        margin: 5px;
    }
}
